/* General */
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #000;
  background-color: #fff;
}

/* Links */
a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #1ed760;
}

/* Container */
.container {
  padding: 0 12px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Footer */
footer {
  font-size: 12px;
  background-color: #000;
  padding-top: 48px;
  padding-bottom: 48px;
}

footer ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.footer-main {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

@media (min-width: 768px) {
  .footer-main {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-main ul {
  margin-bottom: 48px;
}

.footer-main ul li a {
  color: #fff;
  font-size: 16px;
}

.footer-main ul li:first-child {
  color: #919496;
  text-transform: uppercase;
}

.footer-secondary a {
  color: #919496;
}

.footer-secondary ul {
  display: flex;
  flex-direction: row;
}

.footer-secondary ul li {
  padding-right: 8px;
}

.footer-secondary ul li:last-child {
  padding-right: 0;
  margin-left: auto;
}
